$main-color-branding: #FF7176;
$main-color-branding-light: #ffd5d6;
$main-gray-background-color: #f4f4f4;
$main-color-orange: #df6800;

$color-white: #fff;
$color-black: #000;
$color-gray: #cccccc;

$small-res: 576px;
$medium-res: 768px;
$large-res: 992px;
$extra-large-res: 1200px;