<mat-card class="product-item">
  <mat-card-header>
    <mat-card-title>
        <div class="row">
            <strong><h6>{{product.name}}</h6></strong>
        </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      
    <div class="product-data-container row">
        <div class="product-info col-lg-6 col-md-12">
            <strong><span>Costo del producto: </span></strong>
            <span>{{product.price}}</span>
            <br>
            <strong><span>Cantidad disponible: </span></strong>
            <span>{{product.quantity}}</span>
        </div>
        <div class="product-add-container col-lg-6 col-md-12">
            <span *ngIf="!product.available">!Producto no disponible!</span>
            <div class="add-form row" *ngIf="product.available">
                <div class="add-quantity col-lg-6 col-md-12 text-center">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" placeholder="Cantidad">
                    </mat-form-field>
                </div>
                <div class="add-button col-lg-6 col-md-12 text-center">
                    <button mat-raised-button>Agregar</button>
                </div>
            </div>
        </div>
    </div>
  </mat-card-content>
</mat-card>