<mat-expansion-panel class="category-container">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>{{categoryData.name}}</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <ng-template matExpansionPanelContent>
    <div class="sublevel" *ngIf="categoryData.sublevels">
      <mat-accordion>
        <app-category 
          *ngFor="let category of categoryData.sublevels"
          [categoryData]="category">
        </app-category>
      </mat-accordion>
    </div>
    <div class="product-list" *ngIf="!categoryData.sublevels">
      <app-product-filter (filterChange)="filterChange($event)"></app-product-filter>
      <mat-spinner *ngIf="!products" [diameter]="50"></mat-spinner>
      <app-product 
        *ngFor="let product of products"
        [product]="product">
      </app-product>
    </div>
  </ng-template>

</mat-expansion-panel>